 .products-layout{
   margin: 0;
   padding: 0;

   font-family: 'Marcellus SC', serif;
 }

 input:focus{
   outline: none !important;
 }
  
.products-layout nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
 
   width: 100%;
   height: 100px;

   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
   padding: 0 5rem;
 
   background-color: #00000000 !important;
 
   position: absolute;
   top: 0;
   left: 0;
   z-index: 5000;

   box-sizing: border-box;
 }
 
 nav .column.left {
   display: flex;
   align-items: center;
   justify-content: center;
   width: auto;
 }
 
 nav .column.left .logo {
   width: auto;
   height: 50px;
 }
 
 nav .column.left .logo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 nav .column.right {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 80%;
 }
 
 nav .column.right .menu {
   display: flex;
   align-items: center;
 }
 
 nav .column.right .menu ul {
   display: flex;
   align-items: center;
 }
 
 nav .column.right .menu ul li {
   list-style: none;
   margin-right: 20px;
 }
 
 nav .column.right .menu ul li a {
   text-decoration: none;
   color: #fff;
 }

 .layout .nav .button{
   display: flex;
   align-items: center;
   justify-content: center;
   width: auto;
   height: auto;
 }

 .layout .nav .button button{
   width: 100%;
   height: 100%;
   background-color: #000 !important;
   border: 1px solid #fff !important;
   color: #fff !important;
   font-size: 1rem;
   font-weight: 400;
   cursor: pointer;
   padding: 5px 20px;
   border-radius: 5px !important;
   transition: all 0.3s ease;
 }

 .layout .nav .button button:hover{
   background-color: #fff !important;
   color: #000 !important;
 }

.layout{
   width: 100%;
   height: 600px;
   max-height: 90svh;
   background-color: #fff;

   position: relative;

   box-sizing: border-box;
}

.layout img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@media (max-width: 768px) {
  .layout{
    width: 100%;
    height: 60svh;
    max-height: 100svh;
    background-color: #fff;
 
    position: relative;
 
    box-sizing: border-box;
 }

  .products-layout nav {
    padding: 0.5rem 1rem;
  }
  
  .layout img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
 }
}
